.searchPanel_container{
    display: flex;
    background: var(--colorBgContainer);
    min-height: 200px;
    //padding: var(--padding);
    border: 2px solid var(--colorBorder);
    border-radius: var(--borderRadiusLG);

    .searchPanel_column{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    & .searchPanel_title{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: var(--fontSizeHeading3);
        line-height: var(--lineHeightHeading3);
        height: fit-content;
        padding: var(--padding) 0;
        border-bottom: 1px solid var(--colorBorder);
    }
}