.container {
    position: fixed;
    width: fit-content;
    min-width: 300px;
    bottom: 50px;
    right: 50px;
    padding: var(--padding);
    border-radius: var(--borderRadius);

    .block{
        position: relative;
    }
    .title {
        text-transform: capitalize;
        font-size: var(--fontSizeHeading3);
        line-height: var(--lineHeightHeading3);
        padding-right: var(--padding);
    }
    .messageBody {
        padding-top: var(--paddingSM);
    }

}

.container.error {
    border: 2px solid var(--colorErrorBorder);
    background: var(--colorErrorBg);

    .title {
        color: var(--colorErrorText);
    }
    .messageBody {
        color: var(--colorErrorText);
    }
}

.container.info {
    border: 2px solid var(--colorInfoBorder);
    background: var(--colorInfoBg);

    .title {
        color: var(--colorInfoText);
    }
    .messageBody {
        color: var(--colorInfoText);
    }
}

.container.success {
    border: 2px solid var(--colorSuccessBorder);
    background: var(--colorSuccessBg);

    .title {
        color: var(--colorSuccessText);
    }
    .messageBody {
        color: var(--colorSuccessText);
    }
}
