.navRow{
    display: flex;
    padding: 30px 0px;

    &  li {
        padding: 5px 10px;


        & a {
            text-decoration: none;
            color: var(--colorText);
            font-size: 14px;
            line-height: 22px;

            &.activeLink {
                color: var(--colorPrimary);
                border-bottom: 2px solid var(--colorPrimary);
            }
        }
    }
}