.inputField_container {
    display: flex;
    flex-direction: column;

    input {
        color: var(--colorText);
        padding: var(--paddingXXS) var(--paddingSM);
        border: 1px solid var(--colorBorder);
        border-radius: var(--borderRadiusSM);
        background: var(--colorBgContainer);
        transition: all ease .3s;

        &:hover {
            border: 1px solid var(--colorPrimaryBorderHover);
        }

        &:focus {
            box-shadow: 0 0 0 2px var(--colorPrimaryBorder);
            border: 1px solid var(--colorPrimaryBorder);
            background: var(--colorFillTertiary);

        }
    }
}