.study_container {
    border: 2px solid var(--colorBorder);
    border-radius: var(--borderRadius);
    background: var(--colorBgContainer);
    margin-top: var(--margin);

    .grid_item {
        padding: var(--paddingXS);
        border-left: 1px solid var(--colorBorderSecondary);
        border-right: 1px solid var(--colorBorderSecondary);
        border-bottom: 1px solid var(--colorBorderSecondary);
    }


    .study_header {
        justify-items: center;
        align-self: center;

        display: flex;
        align-items: center;
        justify-content: center;
        //padding: var(--paddingXS);
        background-color: var(--user-background, var(--colorPrimaryBgHover));
        border-left: 1px solid var(--colorBorderSecondary);
        border-right: 1px solid var(--colorBorderSecondary);
        border-bottom: 1px solid var(--colorBorderSecondary);
        text-align: center;
        height: 100%;
    }

    .zipIcon{
        width: 24px;
        height: 24px;
        fill: var(--colorText)
    }
}

.study_grid {
    display: grid;
    grid-template-columns: repeat(8, minmax(min-content, 1fr));
    grid-template-rows: auto;
    justify-content: space-around;
    //justify-items: center;
}