.checkboxGroup_container {
    max-width: fit-content;
    padding: var(--padding);
    border-radius: var(--borderRadius);

    h4 {
        font-size: var(--fontSizeHeading5);
        line-height: var(--lineHeightHeading5);
    }

    .checkboxes_block {
        display: grid;
        grid-template-columns: repeat(2, minmax(max-content, 1fr));
        width: fit-content;
        padding: var(--paddingXS);
        border: 2px solid var(--colorBorderSecondary);
        border-radius: var(--borderRadius);
        background: var(--colorBgContainer);
    }
}