.modal_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: var(--colorFill);
  backdrop-filter: blur(2px);

  .modal_container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    background: var(--colorBgElevated);
    border: 2px solid var(--colorBorderSecondary);
    border-radius: var(--borderRadius);

    .closeModalIcon {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      color: var(--colorError);
    }
  }
}
