.checkboxContainer {
    display: flex;
    align-items: center;
    padding: var(--paddingXXS) var(--paddingXS);

    & label.checkboxLabel {
        font-size: var(--fontSizeXS);
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: var(--borderRadiusSM);

        &:hover {
            background: var(--colorFillSecondary);
        }

        &:before {
            content: '';
            display: flex;
            flex: 0 0 auto;
            justify-content: center;
            align-items: center;
            width: 12px;
            height: 12px;
            margin-right: var(--marginXXS);
            background: var(--colorBgContainer);
            border: 1px solid var(--colorBorder);
            border-radius: var(--borderRadiusXS);
            transition: border ease .3s, background ease .3s;

        }

        &:hover:before {
            content: '';
            border: 1px solid var(--colorPrimaryBorderHover);
        }
    }

    & input {
        cursor: pointer;
        opacity: 0;
        position: absolute;

        &:focus {
            & + label:before {
                box-shadow: var(--boxShadow);
                border: 1px solid var(--colorPrimaryBorderHover);
            }
        }

        &:hover + label:before {
            content: '';
            border: 1px solid var(--colorPrimaryBorderHover);
        }

        &:checked + label {
            &:before {
                content: '\2713';
                color: white;
                background: var(--colorPrimary);
                border: 1px solid var(--colorPrimaryBorder);
            }

            &:hover:before {
                content: '\2713';
                color: white;
                background: var(--colorPrimaryHover);
                border: 1px solid var(--colorPrimaryBorderHover);
            }
        }
    }
}