.selectItem_container{
    display: inline-flex;
    select {
        padding: var(--paddingXXS )var(--paddingXXS);
        color: var(--colorText);
        background: var(--colorBgContainer);
        border-radius: var(--borderRadiusSM);
        border: 1px solid var(--colorBorder);
        transition: all ease .3s;
        cursor: pointer;

        &:hover {
            border: 1px solid var(--colorPrimaryBorderHover);
        }

        &:focus {
            border: 1px solid var(--colorPrimaryActive);
            box-shadow: var(--boxShadow);
        }

        & option {
            box-shadow: var(--boxShadow);
        }
    }
}
