.dateFilter_container {

    .dateFilter_block {
        display: grid;
        grid-row-gap: 10px;
        padding: var(--paddingSM);
        border: 2px solid var(--colorBorderSecondary);
        border-radius: var(--borderRadius);
        background: var(--colorBgContainer);

        .dateFilter_row {
            display: grid;
            grid-template-columns: 60px minmax(150px, 1fr);
            align-items: center;
            grid-column-gap: 5px;

            span {
                //padding-right: var(--paddingSM);
            }
        }
    }
}

.selectItem_container{
    display: inline-flex;
    select {
        padding: var(--paddingXXS )var(--paddingXXS);
        color: var(--colorText);
        background: var(--colorBgContainer);
        border-radius: var(--borderRadiusSM);
        border: 1px solid var(--colorBorder);
        transition: all ease .3s;
        cursor: pointer;

        &:hover {
            border: 1px solid var(--colorPrimaryBorderHover);
        }

        &:focus {
            border: 1px solid var(--colorPrimaryActive);
            box-shadow: var(--boxShadow);
        }

        & option {
            box-shadow: var(--boxShadow);
        }
    }
}


